#info {
    text-align: center;
}

.width100 {
    width: 100%;
    justify-content: flex-end;
}
.width50 {
    width: 50%;
}
.center-flex {
    width: 100%;
    justify-content:space-around;
}
.ord1 {
    order: 1;
}
.ord2 {
    order: 2;
}
.ord3 {
    order: 3;
}
.txt-cat {
    font-size: 24px;
    padding-top: 10px;
}
.disp-none {
    display: none;
}
.d-none-f {
    display: none;
}
.d-mobile {
    display: block;
}